# Network port
port=12124

# Time between each measurement in milli seconds. This time is used for the
# the fast log
fastLogTimeMs=6000

# Slow log factor. How often the measurements are added to the slow log in
# relation to the fast log. Examples:
#  - 1 : means slow and fast log are equal
#  - 2 : means slow log is measured 1/2 as fast as fast log
slowLogFactor=10

# Number of measurement in fast log before wrap.
# If for example fastLogTimeMs is 6000 (6 seconds) and fast log size is 600
# the fast log will hold measurements for 6s * 600 = 3600s = 1 hour.
fastLogSize=600

# Number of measurements in the slow log before wrap. 
# If fastLogTimeMs is 6000 (6 seconds) and slowLogFactor is 10. The slow log
# will be measured every 6s * 10 = 60s = 1 minute. If slow log size is 1440
# the slow log will hold measurements for 1min * 1440 = 1440min = 24 hours
slowLogSize=1440